::-webkit-scrollbar {
  width: 5px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #aaaaaa;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}

.angel_puriginal {
  background-image: url("https://photo.greattree.com.tw/gre_special/campaign/img/angel-lala-puriginal/20221216_angel_bg_V2.jpg");
  background-position: 0 40vw;
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-color: transparent;
  overflow: hidden;
}
.angel_puriginal img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.angel_puriginal .float_menuEX {
  position: absolute;
  top: 12.5vh;
  right: 3%;
  z-index: 10;
  transition: all 0.2s linear;
}
.angel_puriginal .float_menuEX img {
  height: 60vh;
}
.angel_puriginal .float_menuEX.active {
  position: fixed !important;
  top: 22.5vh !important;
}
.angel_puriginal .main-logo {
  position: relative;
}
.angel_puriginal .main-logo .animation_group {
  position: absolute;
  top: 43%;
  left: 21%;
  width: 24%;
  overflow: hidden;
}
.angel_puriginal .main-logo .limit-product {
  position: absolute;
  top: 21%;
  right: 20%;
  width: 26%;
  overflow: hidden;
}
.angel_puriginal .main-logo .limit-product .swiper-slide {
  text-align: center;
}
.angel_puriginal .main-logo .limit-product .swiper-slide img {
  opacity: 0;
  transition: all 0.35s linear;
}
.angel_puriginal .main-logo .limit-product .swiper-slide.swiper-slide-next img {
  opacity: 0.5;
  transition: all 0.35s linear;
}
.angel_puriginal .main-logo .limit-product .swiper-slide.swiper-slide-active img {
  opacity: 1;
  transition: all 0.35s linear;
}
.angel_puriginal .main-content {
  position: relative;
  z-index: 5;
  width: 1170px;
  max-width: 93.5%;
  margin: 0px auto 0;
  overflow: hidden;
}
.angel_puriginal .main-content .wrap_strategy {
  margin-bottom: 20px;
}
.angel_puriginal .main-content .wrap_strategy .main_title {
  margin-bottom: 20px;
}
.angel_puriginal .main-content .wrap_strategy .strategy_row {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.angel_puriginal .main-content .wrap_strategy .strategy_row .strategy_col {
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.angel_puriginal .main-content .wrap_strategy .strategy_row .strategy_col:hover {
  transition: all 0.3s ease-out;
  transform: scale(0.95);
}
.angel_puriginal .main-content .wrap_strategy .strategy_txt {
  width: 95%;
}
.angel_puriginal .main-content .wrap_banner {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.angel_puriginal .main-content .wrap_banner .swiper-slide {
  text-align: center;
}
.angel_puriginal .main-content .wrap_banner .swiper-slide img {
  opacity: 1;
  transition: all 0.35s linear;
}
.angel_puriginal .main-content .wrap_goddess {
  margin-bottom: 10px;
}
.angel_puriginal .main-content .wrap_goddess .main_title {
  margin-bottom: 20px;
}
.angel_puriginal .main-content .wrap_goddess .goddess_col {
  display: block;
}
.angel_puriginal .main-content .wrap_product {
  margin-bottom: 15px;
}
.angel_puriginal .main-content .wrap_product .product_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.angel_puriginal .main-content .wrap_product .product_row .product_col {
  display: block;
  width: 48%;
  margin: 5px;
  transition: all 0.3s ease-out;
}
.angel_puriginal .main-content .wrap_product .product_row .product_col:hover {
  transition: all 0.3s ease-out;
  transform: translateY(-8px);
}
.angel_puriginal .main-content .wrap_video {
  margin-bottom: 30px;
}
.angel_puriginal .main-content .wrap_video .main_title {
  margin-bottom: 10px;
}
.angel_puriginal .main-content .wrap_video .video_row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}
.angel_puriginal .main-content .wrap_video .video_row .video_player {
  width: 70%;
  margin-right: 20px;
}
.angel_puriginal .main-content .wrap_video .video_row .video_player iframe {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.angel_puriginal .main-content .wrap_video .video_row a img:nth-child(2) {
  display: none;
}
.angel_puriginal .main-content .wrap_brand img {
  display: block;
  margin-bottom: 25px;
}
.angel_puriginal .main_brand_more {
  background-image: url("https://photo.greattree.com.tw/gre_special/campaign/img/angel-lala-puriginal/20221216_angel_bg_V3.jpg");
  background-position: center center;
  background-size: 100% auto;
  background-repeat: repeat;
}
.angel_puriginal .main_brand_more .logo_row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.angel_puriginal .main_brand_more .logo_row .logo_col {
  display: block;
  position: relative;
}
.angel_puriginal .main_brand_more .logo_row .logo_col .logo_pic:nth-child(1) {
  position: relative;
  z-index: 1;
}
.angel_puriginal .main_brand_more .logo_row .logo_col .logo_pic:nth-child(1):hover {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.angel_puriginal .main_brand_more .logo_row .logo_col .logo_pic:nth-child(2) {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
.angel_puriginal .main_brand_more .more_btn {
  display: block;
  margin: 0 auto;
  width: 28%;
  transition: all 0.3s ease-out;
  padding-bottom: 30px;
}
.angel_puriginal .main_brand_more .more_btn:hover {
  transition: all 0.3s ease-out;
  transform: scale(0.95);
}
.angel_puriginal .fix-bg {
  display: none;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(40, 40, 40, 0.5);
}
.angel_puriginal .fix-bg .light-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  max-width: 95%;
  background-color: #5c2032;
  border: 3.5px solid #9e3352;
  border-radius: 50px;
  overflow: hidden;
}
.angel_puriginal .fix-bg .light-box .light-box-header {
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.angel_puriginal .fix-bg .light-box .light-box-header .close-button {
  position: absolute;
  top: 10px;
  right: 30px;
  height: 30px;
  width: 30px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  background-color: #ae113d;
}
.angel_puriginal .fix-bg .light-box .light-box-content {
  height: calc(75vh - 145px);
  overflow-y: auto;
  padding: 20px;
}
.angel_puriginal .fix-bg .light-box .light-box-content .text {
  clear: both;
  margin-bottom: 15px;
}
.angel_puriginal .fix-bg .light-box .light-box-content .text b {
  color: #fffc07;
  font-size: 16px;
  font-weight: 600;
  float: left;
}
.angel_puriginal .fix-bg .light-box .light-box-content .text p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.angel_puriginal .fix-bg .light-box .light-box-content .gift {
  margin-bottom: 15px;
}
.angel_puriginal .fix-bg .light-box .light-box-content .gift p {
  color: #fff;
}
.angel_puriginal .fix-bg .light-box .light-box-content .gift .gift_txt {
  background-color: #a36577;
  padding: 8px;
  margin-top: 10px;
}
.angel_puriginal .fix-bg .light-box .light-box-content .matter {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}
.angel_puriginal .fix-bg .light-box .light-box-content .matter b {
  color: #ff0347;
  font-size: 16px;
  font-weight: 600;
}
.angel_puriginal .fix-bg .light-box .light-box-content .matter ul {
  list-style: decimal;
  margin-top: 10px;
}
.angel_puriginal .fix-bg .light-box .light-box-content .matter ul li {
  color: #ff0347;
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: justify;
  word-break: break-all;
}
.angel_puriginal .fix-bg.dis-on {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .angel_puriginal .float_menuEX {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .angel_puriginal .main-logo .animation_group {
    position: absolute;
    top: 43%;
    left: 10%;
    width: 33%;
    overflow: hidden;
  }
  .angel_puriginal .main-logo .limit-product {
    top: 20%;
    right: 9%;
    width: 37%;
  }
  .angel_puriginal .main-logo .logo_bg {
    width: 140%;
    max-width: 140%;
    margin-left: -20%;
  }
  .angel_puriginal .main-content {
    margin: -70px auto 0;
  }
  .angel_puriginal .main-content .wrap_product .product_row .product_col {
    width: 90%;
    margin: 2px;
  }
  .angel_puriginal .main-content .wrap_video .video_row {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .angel_puriginal .main-content .wrap_video .video_row .video_player {
    width: 100%;
    margin-right: 0;
    margin-top: 10px;
  }
  .angel_puriginal .main-content .wrap_video .video_row .video_player iframe {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .angel_puriginal .main-content .wrap_video .video_row a img:nth-child(1) {
    display: none;
  }
  .angel_puriginal .main-content .wrap_video .video_row a img:nth-child(2) {
    display: block;
  }
  .angel_puriginal .main_brand_more {
    margin-bottom: -116px;
  }
  .angel_puriginal .main_brand_more .logo_row {
    padding: 20px;
  }
  .angel_puriginal .main_brand_more .more_btn {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
}/*# sourceMappingURL=angel-lala-puriginal.css.map */